# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List common used libraries for Data Science
- Table of Data Science tools

## Author

Marcos Jim√©nez Juliana

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. ggplot

| Data Science Tools  |
| -------- | 
| GitHub  | 
| Hadoop | 
| Jupyter lab   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335